<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body style="background: url('../assets/img/blue.png') no-repeat fixed; background-size: cover;">

<div class="card mb-3" style=" width: 730px; height: 450px; margin: 90px 330px; border: none;">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="../assets/img/blue.png" style="height: 450px;position: relative" class="card-img" alt="...">
            <img src="../assets/img/logo2.svg" style="width: 250px; height: 150px; position: absolute; top: 120px; left: 70px;">
            <h1 style="top: 250px; left: 70px; position: absolute; font-weight: bold; color: white;">FundStation</h1>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <form method="post" action="/admin">
                    <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
                    <h4  style="font-weight: bold; margin-bottom: 50px; margin-top: 50px;">Login</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Ausername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Apassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        {{with .VErrors.Get "generic"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <button type="submit" style="width: 320px; margin-top: 20px;" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/assets/js/bootstrap.bundle.min.js" ></script>
<script src="/assets/js/jquery.js" ></script>

</body>
</html>
