<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Updates</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/design.css">
        
    
    </head>
    <body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/disasterimage4.PNG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Updates on current events that need your help!</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    <a href="#" class="btn btn-primary">Donate Now!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/disasterimage6.PNG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Updates on current events that need your help!</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    <a href="#" class="btn btn-primary">Donate Now!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/diasasterimage7.PNG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Updates on current events that need your help!</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    <a href="#" class="btn btn-primary">Donate Now!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/disasterimage9.PNG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Updates on current events that need your help!</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    <a href="#" class="btn btn-primary">Donate Now!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/disasterimage8.PNG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Updates on current events that need your help!</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    <a href="#" class="btn btn-primary">Donate Now!</a>
                </div>
            </div>

        </div>

    </div>

            <section id="main-part">

                <div id="background">
                    <div class="card-deck">
                        <div class="card">
                            <img src="assets/images/disasterimage2.PNG" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/images/disasterimage3.PNG" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/images/disasterimage5.PNG" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="assets/images/disasterimage1.PNG" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>






            </section>
    <section id="main-part2">

        <div id="background">
            <div class="card-deck">
                <div class="card">
                    <img src="assets/images/disasterimage10.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/disasterimage11.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/disasterimage12.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/disasterimage13.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>






    </section>
        <script src="assets/js/jquery-3.4.1.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>