{{ define "donation.layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/info.css">
</head>
{{ template "donation.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "donation.content" }}
    <body>
    <div class="wrapper">
        <div class="card" style="width: 1000px; margin: 80px 200px">
            <div class="card-body">
                <form  method="POST" action="/donation" enctype="multipart/form-data">
                    <h1>FundStation</h1>
                    <h5>You can choose to donate cash or kind, if you want to donate kind, Please check the in kind checkbox, and if you want to donate in cash please check the in cash checkbox and fill out the form.</h5>
                    <hr class="sep"/>
                    <div class="group">
                        <div class="form-check">
                            <input type="checkbox" value="" id="checkKind">
                            <label for="checkKind">
                                In Kind
                            </label>
                        </div>
                    </div>
                    <h4>Type</h4>
                    <p style="color: #808080">What type of donation: </p>
                    <div class="group">
                        <input type="text" required="required" name="typee" id="kindText"/><span class="highlight"></span><span class="bar"></span>
                        <label>Type</label>
                    </div>
                    <h4>Date</h4>
                    <p style="color: #808080">When can you make the donation: </p>
                    <div class="group">
                        <input type="text" required="required" name="date" id="kindText"/><span class="highlight"></span><span class="bar"></span>
                        <label>Date</label>
                    </div>
                    <div class="group">
                        <button class="btn btn-submit" type="submit" name="donateKind" id="donateKind">Donate Kind</button>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" value="" id="checkCash">
                        <label for="checkCash">
                            In Cash
                        </label>
                    </div>
                    <h4 style="margin-top: 30px;">Account Number of the charity you chose</h4>
                    <div class="group">
                        <p style="color: #000000">1000222281157 </p>
                    </div>
                    <h4>Account Number</h4>
                    <p style="color: #808080">Enter your account number: </p>
                    <div class="group">
                        <input type="text" required="required" name="accountNo" id="cashText"/><span class="highlight"></span><span class="bar"></span>
                        <label>Account Number</label>
                    </div>
                    <div class="group">
                        <button class="btn btn-submit" type="submit" name="donateCash" id="donateCash">Donate Cash</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <script src="/assets/js/bootstrap.bundle.min.js" ></script>
    <script src="/assets/js/jquery.js" ></script>

{{end}}