{{ define "donation.layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/info.css">
</head>
{{ template "donation.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "donation.content" }}
    <body>
    <div class="wrapper">
        <div class="card" style="width: 1000px; margin: 80px 200px">
            <div class="card-body">
                <form  method="post" action="/money/transfer" >
                    <h1>FundStation</h1>
                    <h5>You can choose to donate cash or kind, if you want to donate kind, Please check the in kind checkbox, and if you want to donate in cash please check the in cash checkbox and fill out the form.</h5>
                    <hr class="sep"/>
                    <h4 style="margin-top: 30px;">Account Number of the charity you chose</h4>
                    <div class="group">
                        <input type="text" required="required" name="recpAccount" id="cashText" value="{{.}}" readonly/><span class="highlight"></span><span class="bar"></span>
                    </div>
                    <h4>Account Number</h4>
                    <p style="color: #808080">Enter your account number: </p>
                    <div class="group">
                        <input type="text" required="required" name="donorAccount" id="cashText" /><span class="highlight"></span><span class="bar"></span>
                        <label>Account Number</label>
                    </div>
                    <h4>Amount</h4>
                    <p style="color: #808080">Enter the amount of money you want to donate: </p>
                    <div class="group">
                        <input type="text" required="required" name="amount" id="cashText"/><span class="highlight"></span><span class="bar"></span>
                        <label>Amount</label>
                    </div>
                    <div class="group">
                        <button class="btn btn-submit" type="submit" name="donateCash" id="donateCash">Donate Cash</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <script src="/assets/js/bootstrap.bundle.min.js" ></script>
    <script src="/assets/js/jquery.js" ></script>

{{end}}
