<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body style="background: url('../assets/img/blue.png') no-repeat fixed; background-size: cover;">

<div class="card mb-3" style=" width: 730px; margin: 70px 330px; border: none;">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="../assets/img/blue.png" style="height: 100%;position: relative" class="card-img" alt="...">
            <img src="../assets/img/logo2.svg" style="width: 250px; height: 150px; position: absolute; top: 120px; left: 70px;">
            <h1 style="top: 280px; left: 70px; position: absolute; font-weight: bold; color: white;">FundStation</h1>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <form method="POST" action="/donor/signup">
                    <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
                    <h4  style="font-weight: bold; margin-bottom: 20px; margin-top: 10px;">Do you want to sign up?</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" value='{{ .Values.Get "firstName" }}'required autofocus>
                        {{with .VErrors.Get "firstName"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" value='{{ .Values.Get "lastName" }}'required autofocus>
                        {{with .VErrors.Get "lastName"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="add" placeholder="Address" value='{{ .Values.Get "add" }}'required autofocus>
                        {{with .VErrors.Get "add"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="userName" placeholder="Username" value='{{ .Values.Get "userName" }}'required autofocus>
                        {{with .VErrors.Get "userName"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required autofocus>
                        {{with .VErrors.Get "password"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="repassword" placeholder="Confirm Password" required autofocus>
                        {{with .VErrors.Get "repassword"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="Phone Number" value='{{ .Values.Get "phone" }}'required autofocus>
                        <div class="form-group">
                            {{with .VErrors.Get "phone"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value='{{ .Values.Get "email" }}'required autofocus>
                        <div class="form-group">
                            {{with .VErrors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                        </div>
                    </div>
                    <button type="submit" style="width: 320px; margin-top: 20px;" class="btn btn-primary">Sign Up</button>
                    <a href="/donor/login" style="width: 320px; margin-top: 20px;" class="btn btn-primary">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="../assets/js/bootstrap.min.js" ></script>
<script src="../assets/js/jquery-3.4.1.js" ></script>

</body>
</html>
