{{ define "footer" }}

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left" style="background-color:#010041; color: white; margin-top: 100px">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3" style="background-color:#010041; color: white; height: 300px;">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing elit.</p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                    <p>
                        <a href="#!">MDBootstrap</a>
                    </p>
                    <p>
                        <a href="#!">MDWordPress</a>
                    </p>
                    <p>
                        <a href="#!">BrandFlow</a>
                    </p>
                    <p>
                        <a href="#!">Bootstrap Angular</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                    <p>
                        <a href="#!">Your Account</a>
                    </p>
                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="background-color:#010041; color: white;">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
        </div>
            <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="/assets/js/jquery.js" ></script>

<script>

        var myNav = document.getElementById('mynav');
        $(document).ready(() => {
            $(document.body).on('click', '.card[data-clickable=true]', (e) => {
                var href = $(e.currentTarget).data('href');
                window.location = href;
            });
        });
         window.onscroll = function () { 
             "use strict";
             if (document.body.scrollTop >= 200 ) {
                 myNav.classList.add("nav-colored");
                 myNav.classList.remove("nav-transparent");
             } 
             else {
                 myNav.classList.add("nav-transparent");
                 myNav.classList.remove("nav-colored");
             }
         };


</script>



<script src="/assets/js/bootstrap.bundle.min.js" ></script>

</body>
</html>
{{ end }}