{{ define "listCategory.layout" }}

    {{ template "navbar2" . }}
    {{ template "listCategory.content" . }}
    {{ template "footer" . }}

{{ end }}

{{ define "listCategory.content" }}

    {{range .}}
    <form action="specific" method="post">
        <div class="card" style="width: 80%; height: 550px; margin:100px 150px 100px 150px; align-content: center;">
            <div class="card-body">
                <p style="color: rgb(0,0,0); font-size: 20px; margin-top: -30px;"><input type="hidden" name="catAccount" value="{{.BankAccount.AccountNo}}"></p>
                <h5 class="card-title" style="color: rgb(0, 174, 255); margin-top: -30px;"><input type="hidden" value="{{.Name}}" name="catName">{{.Name}}</h5>
            </div>
            <img src="../assets/img/{{.Image}}" alt="image not found" style="width: 100%; height: 70%;">
            <input type="submit" value="View">
        </div>
    </form>
    {{end}}

{{ end }}
