<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body style="background: url('../assets/img/blue.png') no-repeat fixed; background-size: cover;">

    <div class="card mb-3" style=" width: 730px; margin: 90px 330px; border: none;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="../assets/img/blue.png" style="height: 100%;position: relative" class="card-img" alt="...">
                <img src="../assets/img/logo2.svg" style="width: 250px; height: 150px; position: absolute; top: 120px; left: 70px;">
                <h1 style="top: 280px; left: 70px; position: absolute; font-weight: bold; color: white;">FundStation</h1>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <form>
                        <h4  style="font-weight: bold; margin-bottom: 20px; margin-top: 10px;">Do you want to sign up?</h4>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        <div class="form-group">
                            <input type="text" class="form-control"  placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <a href="#" style="width: 320px; margin-top: 20px;" class="btn btn-primary">Sign Up</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script src="/assets/js/bootstrap.bundle.min.js" ></script>
<script src="/assets/js/jquery.js" ></script>

</body>
</html>